<div class="row">

  <div class="col-xs-6 col-xs-offset-3 form">

    <h2>Resend confirmation instructions</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="actions">
            <%= f.submit "Resend confirmation instructions", class: 'btn btn-success full-width' %>
          </div>
        </div>
      </div>

    <% end %>

    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />

  </div>

</div>