<div class="row game <%= 'even' if review_counter % 2 == 0 %>">
  <div class="col-xs-2 game-name">
    <%= link_to review.game.name, show_game_path(steam_appid: review.game.steam_appid) %>
    <%= link_to image_tag(review.game.header_image, class: 'game-image'), show_game_path(steam_appid: review.game.steam_appid)  %>
    <%= link_to 'View full review', show_rating_path(steam_appid: review.game.steam_appid, id: review.id) %>
  </div>
  <div class="col-xs-1 ranking stat">
    <%= image_tag review.ranking.to_s + '.jpg' %>
  </div>
  <div class="col-xs-1 stat">
    <%= review.get_stat :framerate %>
  </div>
  <div class="col-xs-1 stat">
    <%= review.get_stat :resolution %>
  </div>
  <div class="col-xs-1 stat">
    <%= review.get_stat :optimization %>
  </div>
  <div class="col-xs-1 stat">
    <%= review.get_stat :mods %>
  </div>
  <div class="col-xs-1 stat">
    <%= review.get_stat :servers %>
  </div>
  <div class="col-xs-1 stat">
    <%= review.get_stat :dlc %>
  </div>
  <div class="col-xs-1 stat">
    <%= review.get_stat :bugs %>
  </div>
  <div class="col-xs-1 stat">
    <%= review.get_stat :settings %>
  </div>
  <div class="col-xs-1 stat">
    <%= review.get_stat :controls %>
  </div>
</div>
