<div class="rating-form">
  <div class="row">
    <div class="col-xs-12">
      <%= @rating.errors.messages if @rating && @rating.errors.size > 0 %>

      <div class="row images">
        <div class="col-xs-6">
          <h3>
            Editing your review for <%= @game.title %>
          </h3>
        </div>
        <div class="col-xs-6 col-sm-2">
          <%= image_tag(@game.header_image) %>
        </div>
      </div>

      <%= form_for @rating, url: game_rating_path(id: @rating.id) do |f| %>
        <div class="row">
          <div class="col-xs-6">
            <div>
              <%= f.label "Frame rate:" %>
              <%= f.select :framerate, options_for_select(Rating.framerates.keys), {}, class: "form-control" %>
            </div>

            <div>
              <%= f.label "Resolution:" %>
              <%= f.select :resolution, options_for_select(Rating.resolutions.keys), {}, class: "form-control" %>
            </div>

            <div>
              <%= f.label "Optimization:" %>
              <%= f.select :optimization, options_for_select(Rating.optimizations.keys), {}, class: "form-control" %>
            </div>

            <div>
              <%= f.label "Mods:" %>
              <%= f.select :mods, options_for_select(Rating.mods.keys), {}, class: "form-control" %>
            </div>

            <div>
              <%= f.label "Servers:" %>
              <%= f.select :servers, options_for_select(Rating.servers.keys), {}, class: "form-control" %>
            </div>
          </div>
          <div class="col-xs-6">
            <div>
              <label>DLC:</label>
              <%= f.select :dlc, options_for_select(Rating.dlcs.keys), {}, class: "form-control" %>
            </div>

            <div>
              <%= f.label "Buggyness:" %>
              <%= f.select :bugs, options_for_select(Rating.bugs.keys), {}, class: "form-control" %>
            </div>

            <div>
              <%= f.label "Settings:" %>
              <%= f.select :settings, options_for_select(Rating.settings.keys, {}), class: "form-control" %>
            </div>

            <div>
              <%= f.label "Controls:" %>
              <%= f.select :controls, options_for_select(Rating.controls.keys), {}, class: "form-control" %>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <%= f.label "Review:" %>
            <%= f.text_area :review, placeholder: :Review, value: @rating.review, class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <%= f.button "Update Review", class: "btn btn-success" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>