<div class="row game <%= 'even' if game_counter % 2 == 0 %>">
  <div class="col-xs-2 game-name">
    <%= link_to game.title, game_path(id: game.slug) %>
    <%= link_to image_tag(game.header_image, class: 'game-image'), game_path(id: game.slug) %>
    <%= link_to "See Reviews", game_path(id: game.slug), class: 'btn btn-success' %>
    <%= link_to "Add a Review", new_game_rating_path(game_id: game.slug), class: 'btn btn-success' %>
  </div>

  <% if game.ratings.size > 0 %>
    <div class="col-xs-1 ranking stat">
      <%= image_tag(game.ranking.to_s + '.jpg') %>
    </div>
    <div class="col-xs-1 stat">
      <%= game.get_rounded_stat :framerate %>
    </div>
    <div class="col-xs-1 stat">
      <%= game.get_rounded_stat :resolution %>
    </div>
    <div class="col-xs-1 stat">
      <%= game.get_rounded_stat :optimization %>
    </div>
    <div class="col-xs-1 stat">
      <%= game.get_rounded_stat :mods %>
    </div>
    <div class="col-xs-1 stat">
      <%= game.get_rounded_stat :servers %>
    </div>
    <div class="col-xs-1 stat">
      <%= game.get_rounded_stat :dlc %>
    </div>
    <div class="col-xs-1 stat">
      <%= game.get_rounded_stat :bugs %>
    </div>
    <div class="col-xs-1 stat">
      <%= game.get_rounded_stat :settings %>
    </div>
    <div class="col-xs-1 stat">
      <%= game.get_rounded_stat :controls %>
    </div>
  <% end %>
</div>
