<div class="review">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to review.user.username, show_user_path(id: review.user.id) %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6"><label>Framerate:</label> <%= review.framerate %></div>
    <div class="col-xs-12 col-sm-6"><label>Resolution:</label> <%= review.resolution %></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6"><label>Optimization:</label> <%= review.optimization %></div>
    <div class="col-xs-12 col-sm-6"><label>Mods:</label> <%= review.mods %></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6"><label>Servers:</label> <%= review.servers %></div>
    <div class="col-xs-12 col-sm-6"><label>DLC:</label> <%= review.dlc %></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6"><label>Bugs:</label> <%= review.bugs %></div>
    <div class="col-xs-12 col-sm-6"><label>Settings:</label> <%= review.settings %></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6"><label>Controls:</label> <%= review.controls %></div>
  </div>

  <% unless review.review.blank? %>
    <div class="row">
      <div class="col-xs-12 review-text">
        <label>Review</label>
        <%= review.review %>
      </div>
    </div>
  <% end %>

  <% if current_user && current_user.admin? %>
    <%= link_to 'Delete', game_rating_path(game_id: review.game.slug, id: review.id), method: :delete %>
  <% end %>

  <div>
    <%= link_to("▲", upvote_rating_path(id: review.id), method: :post) %>
    <%= link_to("▼", downvote_rating_path(id: review.id), method: :post) %>
    <%= review.score %>
  </div>

</div>