<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Add a game', new_game_path, class: 'btn btn-info full-width' %>
  </div>
</div>

<div class="row search-form">
  <%= search_form_for @q do |f| %>
    <div class="col-xs-4 col-xs-offset-3">
      <%= f.search_field :title_cont, placeholder: 'Search by Title', class: 'form-control' %>
    </div>
    <div class="col-xs-2">
      <%= f.submit "Search", class: 'btn btn-success full-width' %>
    </div>
  <% end %>
</div>

<div class="game-index">
  <div class="hidden-xs">
    <div class="row headers">
      <div class="col-xs-2">
        Name
      </div>
      <div class="col-xs-1">
        Ranking
      </div>
      <div class="col-xs-1">
        Framerate
      </div>
      <div class="col-xs-1">
        Resolution
      </div>
      <div class="col-xs-1">
        Optimization
      </div>
      <div class="col-xs-1">
        Mods
      </div>
      <div class="col-xs-1">
        Servers
      </div>
      <div class="col-xs-1">
        DLC
      </div>
      <div class="col-xs-1">
        Bugs
      </div>
      <div class="col-xs-1">
        Settings
      </div>
      <div class="col-xs-1">
        Controls
      </div>
    </div>

    <%= render partial: 'game_index_row', collection: @games, as: :game %>
  </div>

  <div class="visible-xs">
    <div class="row headers">
      <div class="col-xs-6">
        Name
      </div>
      <div class="col-xs-6">
        Ranking
      </div>
    </div>

    <%= render partial: 'game_index_row_mobile', collection: @games, as: :game %>
  </div>

  <%= will_paginate @reviews %>

</div>

<script>
  var sticky = new Waypoint.Sticky({
    element: $('.game-index .headers')[0]
  })
</script>