<%= @game.errors.messages if @game && @game.errors.size > 0 %>

<div class="row new-game-form">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%= form_for @game, url: create_game_path do |f| %>
      <%= f.text_field :steam_appid, value: @game.steam_appid, class: "form-control", placeholder: "Steam App ID (instructions below)" %>
      <%= f.button "Add Game", class: "btn btn-success" %>
    <% end %>

    <div class="row add-game-instructions">
      <div class="col-xs-12">
        <h3>Getting the Steam App ID</h3>
        <ol>
          <li>
            <b>Search for the game on SteamDB:</b><br>
            <form action="https://steamdb.info/search/" target="_blank">
              <input type="hidden" name="a" value="app">
              <input name="q" placeholder="Electronic Super Joy" class="form-control">
              <button type="submit" class="btn btn-info full-width">Search SteamDB</button>
            </form>
          </li>
          <li>
            <b>Input the game's AppID above:</b><br>
            <%= image_tag "https://i.imgur.com/aujtOhq.png" %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
