<div class="landing">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 title">
        <h1>Welcome to PCMRatings!</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <%= link_to 'View Games', games_path, class: 'btn btn-success full-width' %>
        <%= link_to 'Login to review', new_user_session_path, class: 'btn btn-info full-width' %>
        <%= link_to 'Sign up to review', new_user_registration_path, class: 'btn btn-info full-width' %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 exposition">
        <div>
          You can click up in the top right to View Games or Sign up to add and rate games yourself
        </div>

        <div>
          Games are rated based on 9 criteria:
          <ul>
            <li>Frame Rate</li>
            <li>Resolution</li>
            <li>Optimization</li>
            <li>Mods</li>
            <li>Servers</li>
            <li>DLC</li>
            <li>Buggyness</li>
            <li>Settings</li>
            <li>and Controls</li>
          </ul>
          Each criteria has a different weight (you can see the weights <%= link_to 'here', "https://i.imgur.com/vp3xjgs.png" %>.)
        </div>

        <div>
          The ratings are then collated into a single master rating. The ranks are: Peasantry, Compromising, Mediocre, Righteous, and Glorious.
        </div>

        <div>
          All true PC developers must aim to produce Glorious games. The closer they reach the more they should be praised. Even non-ports can still be peasantry if the developers have fallen sufficiently low.
        </div>

        <div>
          Example of the review interface:
          <%= image_tag 'http://i.imgur.com/hDHeSGY.png' %>
        </div>

        <div>
          <ul>
            <li> v1:
              <ul>
                <li>Users can register</li>
                <li>Games can be added via Steam App ID</li>
                <li>Data for games pulled via Steam API</li>
                <li>Reviews can be posted</li>
                <li>Users can edit own reviews</li>
                <li>Ratings collated and used to produce overall game rating for each category and then an overall ranking</li>
                <li>Email confirmation for registration working</li>
                <li>Game Index Working</li>
                <li>Basic layout implemented</li>

                <li>User profile can be viewed to see all a user's ratings</li>
                <li>Pagination for reviews and game index working</li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>