<!DOCTYPE html>
<html>
  <head>
    <title>Pcmrating</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'common/header' %>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'common/footer' %>

    <script>
      $.FancyNotifications.error("<%= flash[:error] %>");
      $.FancyNotifications.alert("<%= flash[:alert] %>");
      $.FancyNotifications.notice("<%= flash[:notice] %>");
    </script>

  </body>
</html>
